@-webkit-keyframes muthybaby_intro {
    0% {
        width: 70vw;
        height: 70vw;
        opacity: 0.3;
    }
  
    100% {
        width: 80vw;
        height: 80vw;
        opacity: 1;
    }
}
  
@keyframes muthybaby_intro {
    0% {
        width: 70vw;
        height: 70vw;
        opacity: 0.3;
    }
  
    100% {
        width: 80vw;
        height: 80vw;
        opacity: 1;
    }
}

@-webkit-keyframes slide_up {
    0% {
        margin-top: 200px;
    }

    100% {
        margin-top: 8px;
  }
}
  
@keyframes slide_up {
    0% {
      margin-top: 200px;
    }
  
    100% {
      margin-top: 8px
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f6f5f5; 
    background-color: #00334e;
}

.current_page {
    font-size: 1.4em;
    color: #ee6f57;
    text-decoration: none;
    font-weight: 550;
}

.skip {
    color: #f6f5f5;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-weight: 100;
}

.skip:hover, .skip:focus {
    color: #ee6f57;
    text-decoration: underline;
}

.navigation_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    padding-top: 15px;
}

.nav_link {
    color: #f6f5f5;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.25em;
}

.nav_link:hover, .nav_link:focus {
    color: #ee6f57;
    text-decoration: underline;
}

.main_container {
    display: grid;
    row-gap: 15px;
    padding-top: 25px;
    width: 100vw;
}

.page_card p {
    width: 75vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    align-self: center;
    justify-self: center;
}

.orange {
    color: #ee6f57;
}

.headlines {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2.5em;
    padding-bottom: 10px;
}

.page_card {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-self: center;
    width: 85vw;
    background-color: #145374;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.imgs_container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    background-color: #ee6f57;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    height: 90vw;
}

#home_main {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
}

#home_main h1 {
    font-size: 2.5em;
    font-weight: 700;
    padding-top: 15px;
}

#home_img {
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    height: 80vw;
    width: 80vw;
    border-width: 5px;
    border-style: solid;
    border-color: #f6f5f5;
    margin-top: 30px;
    animation-name: muthybaby_intro;
    animation-duration: 2s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.home_content {
    align-self: center;
    justify-self: center;
    font-weight: 600;
    font-size: 2em;
    margin: 15px;
}

#home_main div {
    background-color: #145374;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    width: 90vw;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-color: #f6f5f5;
    font-style: italic;
}

#home1, #home3 {
    justify-content: flex-start;
    align-content: center;
    align-self: flex-end;
    border-radius: 50px 0px 0px 50px;
    border-width: 3px 0px 3px 3px;
    animation-name: slide_up;
    animation-duration: 2s;
}

#home2 {
    justify-content: flex-end;
    align-content: center;
    border-radius: 0px 50px 50px 0px;
    border-width: 3px 3px 3px 0px;
    animation-name: slide_up;
    animation-duration: 2s;
    color: #ee6f57
}

#home_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    bottom: 5px;
    position: relative;
    width: 100%;
    z-index: -1;
    padding-top: 40px;
}

footer p {
    justify-self: center;
    align-self: center;
    font-weight: 100;
}

#about_headline {
    font-size: 2em;
}

#about_main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
}

#about_bio {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

#about_hobbies {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
}

#about_imgs {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
}

.about_img {
    width: 40vw;
    height: 40vw;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#video_main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
}

#video_desc {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

#video_section h2 {
    align-self: center;
    justify-self: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    font-size: 1.5em;
}

#channel_link {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-self: center;
    background-color: #ee6f57;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    color: #f6f5f5;
    text-decoration: none;
    font-weight: 600;
    border-width: 3px;
    border-radius: 50px;
    border-color: #f6f5f5;
    border-style: solid;
}

#video_section {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
    flex-direction: column;
}

#video_section iframe {
    width: 80vw;
    height: 60vw;
    align-self: center;
    justify-self: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#thanks_list {
    background-color: #00334e;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#thanks_list ul {
    padding-top: 5px;
}

#thanks_list h3 {
    padding-bottom: 5px;
}

#music_main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
}

#music_ov {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

#music_studies {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
}

#music_offers {
    grid-row: 6 / span 1;
    grid-column: 1 / span 2;
}

#music_vids {
    grid-row: 5 / span 1;
    grid-column: 1 / span 2;
}

#music_imgs {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
}

#gigs_main div {
    background-color: #145374;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    width: 90vw;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-color: #f6f5f5;
    animation-name: slide_up;
    animation-duration: 2s;
}

.right_stick {
    justify-content: flex-start;
    align-content: center;
    align-self: flex-end;
    border-radius: 50px 0px 0px 50px;
    border-width: 3px 0px 3px 3px;
}

.left_stick {
    justify-content: flex-end;
    align-content: center;
    border-radius: 0px 50px 50px 0px;
    border-width: 3px 3px 3px 0px;
}

#gigs_main {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
}

#gigs_main h1 {
    font-size: 2.5em;
    font-weight: 700;
    padding-top: 25px;
    align-self: center;
    justify-self: center;
    padding-bottom: 25px;
}

.gigs_content {
    align-self: center;
    justify-self: center;
    font-size: 1.25em;
    margin: 15px;
}

/* Pallette: https://colorhunt.co/palette/201897 */