@-webkit-keyframes muthybaby_intro {
    0% {
        width: 70vw;
        height: 70vw;
        opacity: 0.3;
    }
  
    100% {
        width: 80vw;
        height: 80vw;
        opacity: 1;
    }
}
  
@keyframes muthybaby_intro {
    0% {
        width: 70vw;
        height: 70vw;
        opacity: 0.3;
    }
  
    100% {
        width: 80vw;
        height: 80vw;
        opacity: 1;
    }
}

@-webkit-keyframes slide_up {
    0% {
        margin-top: 200px;
    }

    100% {
        margin-top: 8px;
  }
}
  
@keyframes slide_up {
    0% {
      margin-top: 200px;
    }
  
    100% {
      margin-top: 8px
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f6f5f5; 
    background-color: #00334e;
}

.navigation_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    padding-top: 15px;
}

.nav_link {
    color: #f6f5f5;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.25em;
}

.nav_link:hover, .nav_link:focus {
    color: #ee6f57;
    text-decoration: underline;
}

#main_main {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
}

#main_main h1 {
    font-size: 2.5em;
    font-weight: 700;
    padding-top: 15px;
}

#main_img {
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    height: 80vw;
    width: 80vw;
    border-width: 5px;
    border-style: solid;
    border-color: #f6f5f5;
    margin-top: 30px;
    animation-name: muthybaby_intro;
    animation-duration: 2s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.main_content {
    align-self: center;
    justify-self: center;
    font-weight: 600;
    font-size: 2em;
    margin: 15px;
}

#main_main div {
    background-color: #145374;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    width: 90vw;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-color: #f6f5f5;
    font-style: italic;
}

#orange {
    color: #ee6f57;
}

#main1, #main3 {
    justify-content: flex-start;
    align-content: center;
    align-self: flex-end;
    border-radius: 50px 0px 0px 50px;
    border-width: 3px 0px 3px 3px;
    animation-name: slide_up;
    animation-duration: 2s;
}

#main2 {
    justify-content: flex-end;
    align-content: center;
    border-radius: 0px 50px 50px 0px;
    border-width: 3px 3px 3px 0px;
    animation-name: slide_up;
    animation-duration: 2s;
    color: #ee6f57
}

#main_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    bottom: 5px;
    position: fixed;
    width: 100%;
    z-index: -1;
    padding-top: 5px;
}

footer p {
    justify-self: center;
    align-self: center;
    font-weight: 100;
}

#about_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    row-gap: 15px;
    margin-top: 30px;
}

#about_headline {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-content: center;
}

#about_bio {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-content: center;
}

#about_hobbies {
    grid-row: 4 / span 1;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-content: center;
}

#music_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 15px;
    margin-top: 30px;
}

#music_headline {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-content: center;
}

#music_text {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-content: center;
}

#music_recordings {
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Pallette: https://colorhunt.co/palette/201897 */